<div class="flex flex-col">
  <h2>Add New Blog</h2>
  <%= form_with model: @blog do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label(:body, "Content")  %><br>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
